<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="education">
        <h1>Education</h1>
        <ul>
            <li>Institution: 'Holy Angel University', Field: 'College', Details: 'Bachelor's Degree Specialized in Web Development'</li>
            <li>Institution: 'Republic Central Colleges', Field: 'Senior High School', Details: 'Senior High School Diploma, General Academic Strand (GAS)'</li>
            <li>Institution: 'Malino Integrated School', Field: 'Junior High School', Details: 'Junior High School Diploma'</li>
        </ul>
    </div>
</body>
</html>
