<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <div class="row1">
            <h1>References</h1>
            <ul>
                <li>AJ Lacayanan</li>
                <li>Junior High School</li>
                <li>at Malino Integrated School San Fernando Pampanga</li>
                <li>09553486614</li>
            </ul>
        </div>
        <div class="row2">
            <ul>
                <li>Lloyd Estrada</li>
                <li>1st year - 2nd year College</li>
                <li>at Holy Angel University Angeles City</li>
                <li>09688520611</li>
            </ul>
        </div>
</body>
</html>
