<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="personal-information">
            <img  src="https://lh3.googleusercontent.com/a/ACg8ocLmlOl_kjaaDJhYzmqJUrLXWWV3oAaXTaFRQUSIjkAqAUk7IugR=s360-c-no" alt="Profile Picture" class="profile-img">
            <div class="personal-info">
                <ul>
                    <li><strong>Name:</strong> Karl Vladimir B. Borja</li>
                    <li><strong>Specification:</strong> Web Developer</li>
                    <li><strong>Email:</strong> <span style="color: #000;"class="email">vladimirborja013&#64;gmail.com</span></li>
                    <li><strong>Phone No.:</strong> <span style="color: #000;" class="phone">09650561211</span></li>
                    <li><strong>Address:</strong> <span style="color: #000;" class="address">Blk 10, Lot 4 Sunflower Street Malino Ville CSFP</span></li>
                </ul>   
            </div>
        </div>
    </div>
</body>
</html>
