<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="training">
            <h1>Training</h1>
            <ul>
                <li><a style="color: #000;" href="https://www.freecodecamp.org/certification/vldmrbrja/javascript-algorithms-and-data-structures">Certification: Legacy JavaScript Algorithms and Data Structures</a></li>
                <li><a style="color: #000;" href="https://www.freecodecamp.org/certification/vldmrbrja/responsive-web-design?fbclid=IwZXh0bgNhZW0CMTEAAR27NC-8uBs7hNvypD_xe1XmyHp1v5SMtWGkowv98CjMbklYa9zt4iExQPo_aem_GO3sj_LUxw929xKNhkNyUw">Certification: Responsive Web Design Certification</a></li>
                <li><a style="color: #000;" href="https://www.credly.com/badges/009409f3-8712-43c2-8fc3-f5b1b4780577/linked_in_profile">Badge: CCNA: Introduction to Networks</a></li>
                <li><a style="color: #000;" href="https://www.credly.com/badges/51c4a69c-6aae-4a02-9bb7-f1fa0b8156a6/linked_in_profile">Badge: Cyberthreat Management</a></li>
            </ul>
        </div>
    </div>
</body>
</html>
