* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: transparent;
    background-image: none;
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    max-width: 800px;
    width: 100%;
    padding: 40px;
}

.training {
    text-align: center;
}

.training h1 {
    color: #007bff;
    font-size: 32px;
    margin-bottom: 20px;
}

.training ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.training li {
    margin-bottom: 20px;
    transition: background-color 0.3s ease, padding 0.3s ease;
}

.training a {
    color: #007bff;
    text-decoration: none;
    font-size: 18px;
}

.training a:hover {
    color: #0056b3;
    text-decoration: underline;
    background-color: #f0f0f0;
    padding: 2px 4px;
    border-radius: 4px;
}

.training li:last-child {
    margin-bottom: 0;
}

.cert {
    color: #000;;
}